.cv {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-bottom: 12rem solid $color-shadow;
  border-left: 12rem solid $color-transparent;
  transition: 2s;
  z-index: 10;
  display: flex;

  span {
    position: absolute;
    z-index: 12;
    color: $color-base;
    text-align: center;
    @include transition(2s);
    @include font-size (0.8);

    &:first-of-type {
      @include rotate(0);
      right: 3rem;
      bottom: -11rem;
    }

    &:nth-of-type(2) {
      @include rotate(-90);
      right: 0;
      bottom: -8rem;
    }

    &:nth-of-type(3) {
      @include rotate(-90);
      cursor: pointer;
      right: 0;
      bottom: -8rem;
      color: $color-shadow;
    }

    &:nth-of-type(4) {
      @include rotate(0);
      cursor: pointer;
      right: 3rem;
      bottom: -11rem;
      color: $color-shadow;
    }
  }

  &:hover {
    border-bottom: 14rem solid $color-shadow;
    border-left: 14rem solid $color-transparent;

    span {
      @include font-size (1.2);
      color: $color-base;

      &:first-of-type {
        @include rotate(-45);
        right: 4rem;
        bottom: -10rem;
      }

      &:nth-of-type(2) {
        @include rotate(-45);
        right: 2rem;
        bottom: -7rem;
      }

      &:nth-of-type(3) {
        @include rotate(-45);
        right: 2rem;
        bottom: -10rem;

        &:hover {
          color: $color-home;
        }
      }

      &:nth-of-type(4) {
        @include rotate(-45);
        right: 4rem;
        bottom: -12rem;

        &:hover {
          color: $color-home;
        }

      }
    }
  }
}