.header {
  @include base;
  background-color: #C7E1F3;

  &:before, &:after {
    background: url("./../../assets/background.svg") no-repeat;
  }

  &:before {
    @include before;
  }

  &:after {
    @include after;
  }

  &_title {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    z-index: 10;
    animation: 15s rotate ease-in-out;

    h1, p {
      z-index: 10;
      color: #FFF;
    }

    h1 {
      font-family: $font-decorative;
    }

    p {
      font-family: $font-title;
      font-size: 2rem;
      text-shadow: 2px 2px 0 #272727;
      animation-delay: 2s;
    }
  }

  &_arrows {
    z-index: 10;
    color: white;
    font-size: 3rem;

    &_top, &_down, &_left, &_right {
      position: absolute;
      text-shadow: 2px 2px 2px black;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-content: center;
      margin: 1rem;

      i {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      span {
        font-size: 1.5rem;
        border-radius: 2rem;
        text-align: center;
        padding: 0.2rem;
        background: transparent;
        border: 0.2rem solid #FFF;
        color: #FFF;
        font-family: $font-decorative;
      }

      .shown {
        transition: all 0.5s linear;
        opacity: 1;
      }

      .hidden {
        opacity: 0;
        transition: all 0.5s linear;
      }
    }

    &_top, &_down {
      flex-direction: column;
      width: 3rem;

      span {
        writing-mode: vertical-lr;
        min-height: 10rem;
        width: 3rem;
        margin: 1rem 0;
        transition: opacity .25s ease-in-out;
      }
    }

    &_left, &_right {
      span {
        height: 3rem;
        width: 10rem;
        margin: 0 1rem;
      }
    }

    &_top {
      top: 0;
      left: 50%;
      animation: pulseTop 2s infinite;
    }

    &_down {
      bottom: 0;
      left: 50%;
      animation: pulseBottom 2s infinite;
    }

    &_left {
      left: 0;
      top: 45%;
      animation: pulseLeft 2s infinite;
    }

    &_right {
      right: 0;
      top: 45%;
      animation: pulseRight 2s infinite;
    }
  }
}

@keyframes pulseTop {
  0% {
    top: 0;
  }
  50% {
    top: 2rem;
  }
  100% {
    top: 0;
  }
}

@keyframes pulseBottom {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 2rem;
  }
  100% {
    bottom: 0;
  }
}
@keyframes pulseLeft {
  0% {
    left: 0;
  }
  50% {
    left: 2rem;
  }
  100% {
    left: 0;
  }
}
@keyframes pulseRight {
  0% {
    right: 0;
  }
  50% {
    right: 2rem;
  }
  100% {
    right: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
};

@keyframes rotate {
  0% {
    transform: rotate(360deg);
  }
  25% {
    transform: rotate(-50deg);
  }
  50% {
    transform: rotate(50deg);
  }
  75% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}