@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cedarville+Cursive&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch:400,700&display=swap');

$font-base: 'Lato', sans-serif;
$font-title: 'Cedarville Cursive', cursive;
$font-decorative: 'Cabin Sketch', cursive;