@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cedarville+Cursive&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch:400,700&display=swap');

$font-base: 'Lato', sans-serif;
$font-title: 'Cedarville Cursive', cursive;
$font-decorative: 'Cabin Sketch', cursive;


$color-base: #FFF;
//$color-base: #000000;
$color-shadow: #272727;
$color-shadow-dark: #000;
$color-box: #8b8b8b;

$color-skills: #786FB8;
$color-home: #572EB9;
$color-linkedin: #4A53D8;
$color-facebook: #6E93E8;
$color-github: #86C3ED;
$color-email: #A7F1E1;
$color-instagram: #C4FFDA;
$color-transparent: transparent;