html {
  width: 100vw;
  height: 100vh;
  background-color: #FFF;
  position: relative;
  overflow-x: hidden;
}

body {
  line-height: 1.5;
}

article, aside, figcaption, figure, footer, header, nav, section {
  display: block;

}
h1, h2, h3, h4 {
  margin-top: 1rem;
  padding-top: 1rem;
  line-height: 1.25;
  text-shadow: 2px 2px 0 #272727, 4px 4px 0 #000000;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1rem;
}