html {
  width: 100vw;
  height: 100vh;
  background-color: #FFF;
  position: relative;
  overflow-x: hidden;
}

body {
  line-height: 1.5;
}

article, aside, figcaption, figure, footer, header, nav, section {
  display: block;

}
h1, h2, h3, h4 {
  margin-top: 1rem;
  padding-top: 1rem;
  line-height: 1.25;
  z-index: 10;
  color: #FFF;
  text-shadow: 2px 2px 0 #272727, 4px 4px 0 #000000;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1rem;
}

section {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #652060;
  position: relative;

  &:before, &:after {
    content: "";
    position: absolute;
    height: 100%;
    z-index: 1;
    background: url("./../../assets/background_aboutme.svg") no-repeat;
  }

  &:before {
    width: 100%;
    background-size: cover;
  }

  &:after {
    left: 0;
    top: 0;
    width: 50%;
    transform: rotate(180deg);
    background-size: contain;
  }
}

.background {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;

  &:before {
    content: "";
    position: absolute;
    width: 57%;
    height: 86%;
    z-index: 1;
    opacity: 0.5;
    background: #FFF;
  }
}

.hide {
  transition: 5s;
  opacity: 0;
}

.transition {
  position: absolute;
  left: 25.2rem;
  bottom: 4.1rem;
  opacity: 0;
  background: #FFF;
  height: 57%;
  width: 16.5%;
  transition: 5s;
  transform-origin: left bottom;
}

.show {
  position: absolute;
  width: 57%;
  height: 86%;
  opacity: 0.5;
  z-index: 10;
}